.banner {
  margin-top: 7rem;
  padding: 0;
  text-align: left;
}

.banner h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 3rem;
  display: block;
}

.banner p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

ol {
  padding: 0;
  color: #d9366d;
}

li {
  list-style-position: inside;
}

.banner button {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 3rem;
  letter-spacing: 0.8px;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 16px;
  padding: 4px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
}

.banner button:hover {
  background-color: rgb(194, 155, 183);
}

.banner button svg {
  vertical-align: middle;
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
}

.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif-container img {
  width: 100%;
  height: auto;
}

.gif-container p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}