.cell {
  border: 1px solid white;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.cell:hover {
  border: 2px solid white;
  cursor: pointer;
}

.off {
  background-color: lightgray;
}

.on {
  background-color: black;
}

.heatmap {
  background: linear-gradient(90deg, #07b1a6, #239a3b);
}

.heatmap-10 {
  background-color: #0a807e;
}
.heatmap-9 {
  background-color: #0cc3c0;
}
.heatmap-8 {
  background-color: #0dd2cf;
}
.heatmap-7 {
  background-color: #4dff88;
}
.heatmap-6 {
  background-color: #1aff66;
}
.heatmap-5 {
  background-color: #00e659;
}
.heatmap-4 {
  background-color: #00cc52;
}
.heatmap-3 {
  background-color: #00b34c;
}
.heatmap-2 {
  background-color: #009946;
}
.heatmap-1 {
  background-color: #008040;
}
.heatmap-0 {
  background-color: black;
}
